
* {
    font-family: monospace;
}

body {
    background-image: url(Image/thisoneisgood.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
}

.glow {
    text-align: center;
    animation: glow 3s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 8px #f0f0f0;
    }
    
    to {
      text-shadow: 0 0 13px #f0f0f0;
    }
  }

  ::-moz-selection { /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}

.custom-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    max-width: 100%;
    height: 800px;
    background-image: url(Image/Frame\ 4.jpg);
}

.message {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  animation: buttons .3s linear;
  margin-bottom: 20px;
}

.message .success {
  position: absolute;
  display: none;
  animation: buttons .3s linear;
  border-radius: 0px;
}
.message .danger {
  position: absolute;
  transition: .3s;
  animation: buttons .3s linear;
  border-radius: 0px;
  display: none;
}

@keyframes buttons {
  0%{
      transform: scale(0.1);
  }
  50%{
      transform: scale(0.5);
  }
  100%{
      transform: scale(1);
  }
}

.hero-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.items {
    font-size: 32px;
    margin: 60px;
    color: azure;
    text-align: center;
}

.hero-image {
    
    height: 800px;
    background-image: url(Image/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content-image {
    background-image: url(Image/Frame\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 24px;
    color: azure;
    margin-bottom: 20px;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 24px;
    color: azure;
    margin-bottom: 20px;
  }

  .about {
    height: 500px;
    
    background-image: url(Image/moon.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    color: azure;
    align-items: center;
    padding: 5%;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .custom-about {
    
    background-image: url(Image/moon.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    transform: matrix(9);

    color: azure;
    align-items: center;
    padding: 5%;
  }

  .about-button {
    border-radius: 0px;
    height: 50px;
    align-items: center;
  }
  .about-button-mes {
    border-radius: 0px;
    height: 100px;
    align-items: center;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }


  .text-drop {
    color: azure;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .text-drop:active {
    background-color: azure;
    color: azure;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .dropdown-menu {
    background-color: black;
  }

.brand {
    left: 49%;
    display: block;
}


.navbar-toggler-icon {
    background-image: none!important;
    background-color: azure;
    height: 3px;
    width: 25px;
    margin: 10px 0;
    position: relative;
    transition: all 0.35s ease-out;
    transform-origin: center;
    border-radius: 50px;
  }
  
  .navbar-toggler-icon::before {
    display: block;
    background-color: azure;
    height: 3px;
    content: "";
    position: relative;
    top: -7px;
    transition: all 0.15s ease-out;/*taken down to hide quicker*/
    transform-origin: center;
  }
  
  .navbar-toggler-icon::after {
    display: block;
    background-color: azure;
    height: 3px;
    content: "";
    position: relative;
    top: 4px;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  
  .navbar-dark .navbar-toggler-icon,
  .navbar-dark .navbar-toggler-icon::before,
  .navbar-dark .navbar-toggler-icon::after {
    background-color: azure;
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(45deg);
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    opacity: 0;
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-90deg) translateX(7px);
  }


  .typing h2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #000000;
    animation: cursorBlink 0.8s steps(3) infinite;
}

@keyframes cursorBlink {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.typing h2 {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #3333);
    color: azure;
    letter-spacing: 5px;
    font-size: 4rem;
    overflow: hidden;
    margin-bottom: 0;
    animation: type 5s steps(11) infinite;
}

@keyframes type {

    0%,
    100% {
        width: 0px;
    }

    30%,
    60% {
        width:  259px;
    }
}

@media(max-width: 330px) {
    .typing h2 {
        font-size: 3rem;
        animation: type 5s steps(10) infinite;
    }

    @keyframes type {

        0%,
        100% {
            width: 0px;
        }

        30%,
        60% {
            width: 305px;
        }
    }
}

.card {
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 10px 0px 0.9 azure;
    border-radius: 5px;

}

.card img {
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
}

.card:hover img {
    margin-bottom: 40px;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .image {
    opacity: 1;
    max-width: 20%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  


  .container.gallery-container {
    background-color: #fff;
    color: #35373a;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 10px;
    position: relative;
}

/* .tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
} */